<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="project_1_linqEntities" connectionString="metadata=res://*/DBfirst.csdl|res://*/DBfirst.ssdl|res://*/DBfirst.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="project_1_linqEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="project_1_linqEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="project_1_linqEntities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="project_1_linqEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="project_1_linqEntities5" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="project_1_linqEntities6" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="project_1_linqEntities7" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-0GT09JR\ALEX;initial catalog=&quot;project 1 linq&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'"
      providerName="System.Data.EntityClient" />
    <add name="projrect_EF.Properties.Settings.project_1_linqConnectionString"
      connectionString="Data Source=DESKTOP-0GT09JR\ALEX;Initial Catalog=&quot;project 1 linq&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>